<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="error-body">
    <div class="error-container">
        <div>
            <h1 class="oops">Oops!</h1>
            <h2 class="error-subheading">PAGE NOT FOUND ON SERVER</h2>
            <p class="error-paragraph">The link you followed is either outdated, inaccurate or the server have been instructed not to let you have it.</p>
        </div>
        <div>
            <img src="/static/img/404-removebg-preview.png" alt="404-image" class="image">
            <div class="input-div">
        <div class="button">GO BACK</div>
   
        </div>
        </div>

    </div>
    
</body>
</html>