<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/404.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="left-side">
        <img
          src="/static/img/undraw_page_not_found_re_e9o6 (1).svg"
          alt="404 image"
          class="error-image"
        />
      </div>
      <div class="right-side">
        <h1 class="heading">oops!</h1>
        <h3 class="sub-heading">PAGE NOT FOUND ON SERVER</h3>
        <p class="paragraph">
          The link you followed is either outdated, inaccurate,<br />or the
          server has been instructed not let you have it
        </p>
      </div>
    </div>
  </body>
</html>