<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="left-side">
        <div class="image-div">
          <img
            src="/static/img/ventis_logo.png"
            alt="Ventis Logo"
            class="logo-image"
          />
        </div>
      </div>
      <div class="right-side">
        <div class="text-div">
          <h2 class="Welcome-title2">
            Forgot Password?
          </h2>
        </div>
        <div class="login-box2">
          <form>
            <h2 class="recoveracct-paragraph">Find your Account</h2>
            <hr class="horizontal-line" />
            <p class="enter-email-paragraph">
              Please enter your email address to search for your account.
            </p>
            <!-- <label for="email">Email</label> -->
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email address"
              class="form-input"
            />
            <hr class="horizontal-line2" />
            <div class="btn-div">
              <button type="submit" class="cancel-btn"> <a href="index.html" class="cancel-link"> Cancel </a></button>
              <button type="submit" class="submit-btn"><a href="/login" class="submit-link">Send</a></button>
            </div>
          </form>
          <!-- <p class="signup-paragraph">
            Don't have an account?
            <a href="signup.html" class="signup-link">Sign Up</a> -->
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
