<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="icon" href="/static/img/ventis_icon_gradient_rgb.webp">
    <script defer src="/static/js/resetPassword.js"></script>
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="left-side">
        <div class="image-div">
          <img
            src="/static/img/ventis_logo.png"
            alt="Ventis Logo"
            class="logo-image"
          />
          <img
          src="/static/img/ventis_hauptlogo_rgb.png"
          alt="ventis-logo"
          class="logo-image2"
        />
          </div>
        </div>
      <div class="right-side">
        <div class="text-div">
          <h2 class="reset-title">Reset Password</h2>
        </div>
        <div class="reset-box">
          <form>
            <label for="new-password">New Password</label>
            <input type="password" name="new-password" id="new-password" class="form-input" />

            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" class="form-input" />

            <div class="error-message"></div>
            <p class="button-paragraph2">
              <button type="submit" class="reset-btn">Reset Password</button>
            </p>
            <p class="back-to-login">Back to <a href="/login" class="back-to-login-link">Login</a></p>
          </form>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>